body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #10142B;
    color: white;
}

header{
    text-align: right;
    padding-right: 10px;
    padding-left: 0;
    padding-top:10px;

}
nav ul {
    list-style: none;
    font-size:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right:80px;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-right:40px;
    padding-left:40px;
    padding-top:40px;
}

.horizLine {
    margin-top:30px;
    background-color:white;
    height: 6px;
    margin-right: 150px;
    margin-left:0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.verticalLine {
    border-left: 9px solid white;
    margin-right: 20px;
    margin-left: 100px;
    margin-top:200px;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    padding-left:20px;
    font-size: 40px;
    margin-top: 0px;
}

.developer {
    font-family:serif;

}

.designer {
    font-family:cursive;
}

.bio {
    margin:20px;
    margin-right: 600px;
}

.projects{
    padding-left: 20px;
    background-color: #10142B;
    text-align:left;
    color: black;
    margin-right: 200px;
    margin-bottom: 100px;
}

.projects h2{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom:40px;
    color: white;

}

.icon img {
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
  }

.projectsGrid{
    display:grid;
    grid-template-columns:  repeat(3,1fr);
    gap: 50px;
    margin-left: 0;

}

.projectCard {
    background-color: white;
    border-radius: 25px;
    border: 15px white solid;
    
}



.orgs {
    margin: 20px;

}

.orgs ul{
    list-style:none;

}